.indeedformwrapper {
}
.indeedformwrapper .indeedlabel1, .indeedformwrapper .indeedinput, .indeedformwrapper .indeedlabel2 {
	width: 50%;
}
.indeedformwrapper .indeedlabel2:hover {
	font-size: 0.75em;
}
.indeedformwrapper .indeedinput2 {
	clear: both;
	float: none;
}
.indeedformwrapper .indeedinput2 input {
	width: 100%;
}
#indeedsearchresults {
	clear: both;
	float: none !important;
	margin-top: 1em;
}
.indeedresult, .indeedresult > div {
	float: inherit !important;
}
